{% extends 'website/base.html' %}
{% load static %}
{% block title %}About Us{% endblock %}

{% block content %}
<!--===== HERO AREA STARTS =======-->
<div class="inner-page-hero-area" style="background-image: url({% static 'website/img/all-images/bg/hero-bg1.png' %}); background-position: center; background-repeat: no-repeat; background-size: cover;">
    <img src="{% static 'website/img/elements/elements5.png' %}" alt="" class="elements5">
    <img src="{% static 'website/img/elements/elements4.png' %}" alt="" class="elements4">
    <img src="{% static 'website/img/elements/elements1.png' %}" alt="" class="elements1 keyframe5">
    <img src="{% static 'website/img/elements/elements16.png' %}" alt="" class="elements16">

    <div class="container">
        <div class="row">
            <div class="col-lg-4 m-auto">
                <div class="inner-header text-center heading1">
                    <h1>About Us</h1>
                    <div class="space28"></div>
                    <a href="{% url 'index' %}">Home <i class="fa-solid fa-angle-right"></i> <span>About Us</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--===== HERO AREA ENDS =======-->

<!--===== WORK AREA STARTS =======-->
<div class="work1-section-area sp1">
    <img src="{% static 'website/img/elements/elements11.png' %}" alt="" class="elements9">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-5">
          <div class="solution-header heading2">
            <h5><span><img src="{% static 'website/img/icons/sub-logo1.svg' %}" alt=""></span>best it solution</h5>
            <div class="space24"></div>
            <h2 class="text-anime-style-3">End-to-End IT Solutions for Growing Businesses</h2>
            <div class="space16"></div>
            <p data-aos="fade-left" data-aos-duration="800">We provide comprehensive, end-to-end IT solutions of designed to support businesses at stage of growing.</p>
            <div class="space24"></div>
            <div class="bg-progress" data-aos="fade-left" data-aos-duration="900">
              <div class="progress-bar">
                <label>It Solution <span>98%</span></label>
                <div class="progress">
                    <div class="progress-inner" style="width: 98%;"></div>
                </div>
            </div>
        
            <div class="progress-bar">
                <label>Cyber Security <span>99%</span></label>
                <div class="progress">
                    <div class="progress-inner" style="width: 99%;"></div>
                </div>
            </div>
        
            <div class="progress-bar">
                <label>Cloud Solution <span>99%</span></label>
                <div class="progress">
                    <div class="progress-inner" style="width: 99%;"></div>
                </div>
            </div>
            </div>
            <div class="space32"></div>
            <div class="btn-area1" data-aos="fade-left" data-aos-duration="1000">
              <a href="{% url 'contact' %}" class="vl-btn2">Discover Our Solutions <i class="fa-solid fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-2"></div>
        <div class="col-lg-5">
          <div class="soultions-images">
            <img src="{% static 'website/img/elements/elements10.png' %}" alt="" class="elements10">
            <div class="img1 reveal image-anime">
              <img src="{% static 'website/img/all-images/work/work-img1.png' %}" alt="">
            </div>
            <div class="img2 reveal image-anime">
              <img src="{% static 'website/img/all-images/work/work-img2.png' %}" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--===== WORK AREA ENDS =======-->

<!--===== ABOUT AREA STARTS =======-->
<div class="about1-section-area-widget sp1" style="background-image: url({% static 'website/img/all-images/bg/service-bg1.png' %}); background-position: center; background-repeat: no-repeat; background-size: cover; overflow: hidden;">
  <img src="{% static 'website/img/elements/elements9.png' %}" alt="" class="elements9">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="about-images-area">
          <img src="{% static 'website/img/elements/elements10.png' %}" alt="" class="elements10">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
              <div class="img1 image-anime reveal">
                <img src="{% static 'website/img/all-images/about/about-img1.png' %}" alt="">
              </div>
              <div class="space30 d-lg-none d-block"></div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="img1 image-anime reveal">
                <img src="{% static 'website/img/all-images/about/about-img2.png' %}" alt="">
              </div>
              <div class="space30"></div>
              <div class="img1 image-anime reveal">
                <img src="{% static 'website/img/all-images/about/about-img3.png' %}" alt="">
              </div>
            </div>
          </div>
          <div class="check-icons aniamtion-key-1">
            <img src="{% static 'website/img/icons/check1.svg' %}" alt="">
            <p>With 15+ years of experience
              IT solution help community.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-1"></div>
      <div class="col-lg-5">
        <div class="about-header-area heading2">
          <h5><span><img src="{% static 'website/img/icons/sub-logo1.svg' %}" alt=""></span>About Eitech IT Solution</h5>
          <div class="space24"></div>
          <h2 class="text-anime-style-3">Unlock Business Potential with Tailored IT Services</h2>
          <div class="space16"></div>
          <p data-aos="fade-left" data-aos-duration="800">At Eitech, we understand that every business unique, which is why we offer customized IT solutions designed to meet.</p>
          <div class="space28"></div>
          <div class="row" data-aos="fade-left" data-aos-duration="900">
            <div class="col-lg-6 col-md-6">
              <div class="progresbar">
                <div class="progressbar">
                   <div class="circle" data-percent="96"><canvas width="80" height="80"></canvas>
                       <div class="count">96%</div>
                  </div>
                </div>
                <div class="content-area">
                  <h4>IT Solution</h4>
                  <div class="space8"></div>
                  <p>Level Is High</p>
                </div>
              </div>
            </div>

            <div class="col-lg-6 col-md-6">
              <div class="space28 d-md-none d-block"></div>
              <div class="progresbar">
                <div class="progressbar">
                   <div class="circle" data-percent="97"><canvas width="80" height="80"></canvas>
                       <div class="count">97%</div>
                  </div>
                </div>
                <div class="content-area">
                  <h4>Cyber Solution</h4>
                  <div class="space8"></div>
                  <p>#1 Best Of Solution</p>
                </div>
              </div>
            </div>
          </div>
          <div class="space28"></div>
          <div class="pera-box bg1" data-aos="fade-left" data-aos-duration="1000">
            <p>“The right IT solutions done just support your on business-they transform it, at Eitech, we believe.”</p>
          </div>
          <div class="space28"></div>
          <div class="btn-area1" data-aos="fade-left" data-aos-duration="1200">
            <a href="{% url 'contact' %}" class="vl-btn2">See How We Can Help <i class="fa-solid fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--===== ABOUT AREA ENDS =======-->

<!--===== ABOUT AREA STARTS =======-->
<div class="about6-section-area-widget sp1">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="about6-header heading2">
                    <h5><span><img src="{% static 'website/img/icons/sub-logo1.svg' %}" alt=""></span>our mission/vision</h5>
                    <div class="space18"></div>
                    <h2 class="text-anime-style-3">Driving Innovation: Our Mission Vision at Eitech</h2>
                    <div class="space16"></div>
                    <p data-aos="fade-left" data-aos-duration="900">At the of innovation, our cutting-edge IT solutions are designed transform your business ETech operations. </p>
                    <div class="space24"></div>
                    <div class="about-boxarea" data-aos="fade-left" data-aos-duration="1000">
                        <div class="icons">
                            <img src="{% static 'website/img/icons/service-icon2.svg' %}" alt="">
                        </div>
                        <div class="content-area">
                            <a href="">Network Infrastructure Solutions</a>
                            <div class="space16"></div>
                            <p>In today’s fast-paced world, technology is the backbone of success. Our comprehensive IT.</p>
                        </div>
                    </div>
                    <div class="space24"></div>
                    <div class="about-boxarea" data-aos="fade-left" data-aos-duration="1100">
                        <div class="icons">
                            <img src="{% static 'website/img/icons/service-icon5.svg' %}" alt="">
                        </div>
                        <div class="content-area">
                            <a href="">Performance Tailored IT Services</a>
                            <div class="space16"></div>
                            <p>Our tailored IT services are crafted to meet your unique business needs, ensuring that.</p>
                        </div>
                    </div>
                    <div class="space32"></div>
                    <div class="btn-area1" data-aos="fade-left" data-aos-duration="1200">
                        <a href="{% url 'contact' %}" class="vl-btn2">See How We Can Help<i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-6">
                <div class="images-area">
                    <img src="{% static 'website/img/elements/elements27.png' %}" alt="" class="elements27">
                    <div class="img1 image-anime reveal">
                        <img src="{% static 'website/img/all-images/about/about-img13.png' %}" alt="">
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="img1 image-anime reveal">
                                <div class="space30"></div>
                                <img src="{% static 'website/img/all-images/about/about-img14.png' %}" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="img1 image-anime reveal">
                                <div class="space30"></div>
                                <img src="{% static 'website/img/all-images/about/about-img15.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--===== ABOUT AREA ENDS =======-->


<!--===== TESTIMONIAL AREA STARTS =======-->
<div class="testimonial1-section-area sp1">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 m-auto">
        <div class="testimonial-header text-center heading2 space-margin60">
          <h5><span><img src="{% static 'website/img/icons/sub-logo1.svg' %}" alt=""></span>Testimonials</h5>
          <div class="space20"></div>
          <h2 class="text-anime-style-3">Experience the Difference Through Our Clients' Eyes</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5">
        <div class="img1 image-anime reveal">
          <img src="{% static 'website/img/all-images/testimonial/testimonial-img1.png' %}" alt="">
        </div>
      </div>

      <div class="col-lg-6">
        <div class="slider-galeria">
          <div class="testimonial-slider-content-area">
            <div class="testimonial-author-area">
              <ul>
                <li><a ><i class="fa-solid fa-star"></i></a></li>
                <li><a ><i class="fa-solid fa-star"></i></a></li>
                <li><a ><i class="fa-solid fa-star"></i></a></li>
                <li><a ><i class="fa-solid fa-star"></i></a></li>
                <li><a ><i class="fa-solid fa-star"></i></a></li>
              </ul>
              <div class="space16"></div>
              <img src="{% static 'website/img/icons/quito1.svg' %}" alt="" class="quito1">
                           <img src="{% static 'website/img/elements/elements18.png' %}" alt="" class="elements18">
            <p>Partnering with ETech has transformed our IT Solution Their tailored solutions help streamline our operations, improve cybersecurity, and drive efficiency across the board. We've experienced fewer disruptions, faster an.”</p>
          </div>
          <div class="space60"></div>
            <div class="testimonial-man-info-area">
              <div class="man-images-text">
                <div class="mans-img">
                  <img src="{% static 'website/img/all-images/testimonial/testimonial-img2.png' %}" alt="">
                </div>
                <div class="man-text">
                  <a href="">Ben Stokes</a>
                  <div class="space12"></div>
                  <p>Owner Taxfirm</p>
                </div>
              </div>
              <img src="{% static 'website/img/elements/elements17.png' %}" alt="">
            </div>
          </div>

          <div class="testimonial-slider-content-area">
            <div class="testimonial-author-area">
              <ul>
                <li><a ><i class="fa-solid fa-star"></i></a></li>
                <li><a ><i class="fa-solid fa-star"></i></a></li>
                <li><a ><i class="fa-solid fa-star"></i></a></li>
                <li><a ><i class="fa-solid fa-star"></i></a></li>
                <li><a ><i class="fa-solid fa-star"></i></a></li>
              </ul>
              <div class="space16"></div>
              <img src="{% static 'website/img/icons/quito1.svg' %}" alt="" class="quito1">
                           <img src="{% static 'website/img/elements/elements18.png' %}" alt="" class="elements18">
            <p>Partnering with ETech has transformed our IT Solution Their tailored solutions help streamline our operations, improve cybersecurity, and drive efficiency across the board. We've experienced fewer disruptions, faster an.”</p>
          </div>
          <div class="space60"></div>
            <div class="testimonial-man-info-area">
              <div class="man-images-text">
                <div class="mans-img">
                  <img src="{% static 'website/img/all-images/testimonial/testimonial-img3.png' %}" alt="">
                </div>
                <div class="man-text">
                  <a href="">Ben Stokes</a>
                  <div class="space12"></div>
                  <p>Owner Taxfirm</p>
                </div>
              </div>
              <img src="{% static 'website/img/elements/elements17.png' %}" alt="">
            </div>
          </div>

          <div class="testimonial-slider-content-area">
            <div class="testimonial-author-area">
              <ul>
                <li><a ><i class="fa-solid fa-star"></i></a></li>
                <li><a ><i class="fa-solid fa-star"></i></a></li>
                <li><a ><i class="fa-solid fa-star"></i></a></li>
                <li><a ><i class="fa-solid fa-star"></i></a></li>
                <li><a ><i class="fa-solid fa-star"></i></a></li>
              </ul>
              <div class="space16"></div>
              <img src="{% static 'website/img/icons/quito1.svg' %}" alt="" class="quito1">
                           <img src="{% static 'website/img/elements/elements18.png' %}" alt="" class="elements18">
            <p>Partnering with ETech has transformed our IT Solution Their tailored solutions help streamline our operations, improve cybersecurity, and drive efficiency across the board. We've experienced fewer disruptions, faster an.”</p>
          </div>
          <div class="space60"></div>
            <div class="testimonial-man-info-area">
              <div class="man-images-text">
                <div class="mans-img">
                  <img src="{% static 'website/img/all-images/testimonial/testimonial-img4.png' %}" alt="">
                </div>
                <div class="man-text">
                  <a href="">Ben Stokes</a>
                  <div class="space12"></div>
                  <p>Owner Taxfirm</p>
                </div>
              </div>
              <img src="{% static 'website/img/elements/elements17.png' %}" alt="">
            </div>
          </div>

          <div class="testimonial-slider-content-area">
            <div class="testimonial-author-area">
              <ul>
                <li><a ><i class="fa-solid fa-star"></i></a></li>
                <li><a ><i class="fa-solid fa-star"></i></a></li>
                <li><a ><i class="fa-solid fa-star"></i></a></li>
                <li><a ><i class="fa-solid fa-star"></i></a></li>
                <li><a ><i class="fa-solid fa-star"></i></a></li>
              </ul>
              <div class="space16"></div>
              <img src="{% static 'website/img/icons/quito1.svg' %}" alt="" class="quito1">
                           <img src="{% static 'website/img/elements/elements18.png' %}" alt="" class="elements18">
            <p>Partnering with ETech has transformed our IT Solution Their tailored solutions help streamline our operations, improve cybersecurity, and drive efficiency across the board. We've experienced fewer disruptions, faster an.”</p>
          </div>
          <div class="space60"></div>
            <div class="testimonial-man-info-area">
              <div class="man-images-text">
                <div class="mans-img">
                  <img src="{% static 'website/img/all-images/testimonial/testimonial-img5.png' %}" alt="">
                </div>
                <div class="man-text">
                  <a href="">Ben Stokes</a>
                  <div class="space12"></div>
                  <p>Owner Taxfirm</p>
                </div>
              </div>
              <img src="{% static 'website/img/elements/elements17.png' %}" alt="">
            </div>
          </div>

          <div class="testimonial-slider-content-area">
            <div class="testimonial-author-area">
              <ul>
                <li><a ><i class="fa-solid fa-star"></i></a></li>
                <li><a ><i class="fa-solid fa-star"></i></a></li>
                <li><a ><i class="fa-solid fa-star"></i></a></li>
                <li><a ><i class="fa-solid fa-star"></i></a></li>
                <li><a ><i class="fa-solid fa-star"></i></a></li>
              </ul>
              <div class="space16"></div>
              <img src="{% static 'website/img/icons/quito1.svg' %}" alt="" class="quito1">
                           <img src="{% static 'website/img/elements/elements18.png' %}" alt="" class="elements18">
            <p>Partnering with ETech has transformed our IT Solution Their tailored solutions help streamline our operations, improve cybersecurity, and drive efficiency across the board. We've experienced fewer disruptions, faster an.”</p>
          </div>
          <div class="space60"></div>
            <div class="testimonial-man-info-area">
              <div class="man-images-text">
                <div class="mans-img">
                  <img src="{% static 'website/img/all-images/testimonial/testimonial-img2.png' %}" alt="">
                </div>
                <div class="man-text">
                  <a href="">Ben Stokes</a>
                  <div class="space12"></div>
                  <p>Owner Taxfirm</p>
                </div>
              </div>
              <img src="{% static 'website/img/elements/elements17.png' %}" alt="">
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-1">
       <div class="slider-galeria-thumbs text-center d-lg-block d-none">
         <div class="testimonial3-sliders-img">
           <img src="{% static 'website/img/all-images/testimonial/testimonial-img2.png' %}" alt="">
         </div>
         <div class="testimonial3-sliders-img">
          <img src="{% static 'website/img/all-images/testimonial/testimonial-img3.png' %}" alt="">
         </div>
         <div class="testimonial3-sliders-img">
          <img src="{% static 'website/img/all-images/testimonial/testimonial-img4.png' %}" alt="">
         </div>
         <div class="testimonial3-sliders-img">
          <img src="{% static 'website/img/all-images/testimonial/testimonial-img5.png' %}" alt="">
         </div>
         <div class="testimonial3-sliders-img">
          <img src="{% static 'website/img/all-images/testimonial/testimonial-img2.png' %}" alt="">
         </div>
         
         <div class="testimonial3-sliders-img">
          <img src="{% static 'website/img/all-images/testimonial/testimonial-img2.png' %}" alt="">
        </div>
        <div class="testimonial3-sliders-img">
         <img src="{% static 'website/img/all-images/testimonial/testimonial-img3.png' %}" alt="">
        </div>
        <div class="testimonial3-sliders-img">
         <img src="{% static 'website/img/all-images/testimonial/testimonial-img4.png' %}" alt="">
        </div>
        <div class="testimonial3-sliders-img">
         <img src="{% static 'website/img/all-images/testimonial/testimonial-img5.png' %}" alt="">
        </div>
        <div class="testimonial3-sliders-img">
         <img src="{% static 'website/img/all-images/testimonial/testimonial-img2.png' %}" alt="">
        </div>

        <div class="testimonial3-sliders-img">
          <img src="{% static 'website/img/all-images/testimonial/testimonial-img2.png' %}" alt="">
        </div>
        <div class="testimonial3-sliders-img">
         <img src="{% static 'website/img/all-images/testimonial/testimonial-img3.png' %}" alt="">
        </div>
        <div class="testimonial3-sliders-img">
         <img src="{% static 'website/img/all-images/testimonial/testimonial-img4.png' %}" alt="">
        </div>
        <div class="testimonial3-sliders-img">
         <img src="{% static 'website/img/all-images/testimonial/testimonial-img5.png' %}" alt="">
        </div>
        <div class="testimonial3-sliders-img">
         <img src="{% static 'website/img/all-images/testimonial/testimonial-img2.png' %}" alt="">
        </div>
       </div>
     </div>
    </div>
  </div>
</div>
<!--===== TESTIMONIAL AREA ENDS =======-->

<!--===== CTA AREA STARTS =======-->
<div class="cta1-section-area sp1">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="cta-header heading1">
          <h2 data-aos="fade-left" data-aos-duration="700">Transform Your IT Today-Speak with Our Experts!</h2>
          <div class="space16"></div>
          <p data-aos="fade-left" data-aos-duration="800">Ready to take your business to the next level with cutting-edge IT solutions? Our team is here to help you transform.</p>
          <div class="space24"></div>
          <form data-aos="fade-left" data-aos-duration="900">
            <input type="text" placeholder="Email Address">
            <button type="submit" class="vl-btn1">Subscribe <i class="fa-solid fa-arrow-right"></i></button>
          </form>
        </div>
      </div>
      <div class="col-lg-3"></div>
      <div class="col-lg-4">
        <div class="cta-images">
          <img src="{% static 'website/img/elements/elements7.png' %}" alt="" class="elements7 keyframe5">
          <div class="img1">
            <img src="{% static 'website/img/all-images/cta/cta-img1.png' %}" alt="">
          </div>
          <ul class="aniamtion-key-1">
            <li><a ><img src="{% static 'website/img/icons/check5.svg' %}" alt="">IT Solution Services</a></li>
            <li><a ><img src="{% static 'website/img/icons/check5.svg' %}" alt="">Cyber Security Services</a></li>
            <li><a ><img src="{% static 'website/img/icons/check5.svg' %}" alt="">Software Development</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!--===== CTA AREA ENDS =======-->

{% endblock content %}
