{% load static %}
<!--===== PRELOADER STARTS =======-->
<div class="preloader">
  <div class="loading-container">
    <div class="loading"></div>
    <div id="loading-icon">
      <!-- <img src="{% static 'website/img/logo/preloader.png' %}" alt="" /> -->
      <h1>Techssoft</h1>
    </div>
  </div>
</div>
<!--===== PRELOADER ENDS =======-->

<!--===== PROGRESS STARTS=======-->
<div class="paginacontainer">
  <div class="progress-wrap">
    <svg
      class="progress-circle svg-content"
      width="100%"
      height="100%"
      viewBox="-1 -1 102 102"
    >
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
  </div>
</div>
<!--===== PROGRESS ENDS=======-->

<!--=====HEADER START=======-->
<header class="homepage1-body">
  <div id="vl-header-sticky" class="vl-header-area vl-transparent-header">
    <div class="container headerfix">
      <div class="row align-items-center row-bg3">
        <div class="col-lg-2 col-md-6 col-6">
          <div class="vl-logo">
            <a href="{% url 'index' %}">
              <!-- <img src="{% static 'website/img/logo/logo1.png' %}" alt=""/> -->
              <h1 style="color: aliceblue;">Techssoft</h1>
            </a>
          </div>
        </div>
        <div class="col-lg-7 d-none d-lg-block">
          <div class="vl-main-menu text-center">
            <nav class="vl-mobile-menu-active">
              <ul>
                <li class="has-dropdown">
                  <a href="{% url 'index' %}" style="font-size: x-large"
                    >Home
                  </a>
                </li>
                <li>
                  <a href="{% url 'about' %}" style="font-size: x-large"
                    >About</a
                  >
                </li>

                <li>
                  <a href="{% url 'services' %}" style="font-size: x-large"
                    >Services
                  </a>
                </li>
                <li>
                  <a href="{% url 'industries' %}" style="font-size: x-large"
                    >Industries
                  </a>
                </li>

                <li>
                  <a href="{% url 'contact' %}" style="font-size: x-large"
                    >Contact</a
                  >
                </li>
                <li>
                  <a href="{% url 'careers' %}" style="font-size: x-large"
                    >Careers</a
                  >
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-6">
          <div class="vl-hero-btn d-none d-lg-block text-end">
            <span class="vl-btn-wrap text-end">
              <a href="{% url 'contact' %}" class="vl-btn1"
                >Login <i class="fa-solid fa-arrow-right"></i
              ></a>
            </span>
          </div>
          <div class="vl-header-action-item d-block d-lg-none">
            <button type="button" class="vl-offcanvas-toggle">
              <i class="fa-solid fa-bars-staggered"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!--=====HEADER END =======-->

<!--===== MOBILE HEADER STARTS =======-->
<div class="homepage1-body">
  <div class="vl-offcanvas">
    <div class="vl-offcanvas-wrapper">
      <div
        class="vl-offcanvas-header d-flex justify-content-between align-items-center mb-90"
      >
        <div class="vl-offcanvas-logo">
          <a href="{% url 'index' %}"
            ><img src="{% static 'website/img/logo/logo1.png' %}" alt=""
          /></a>
        </div>
        <div class="vl-offcanvas-close">
          <button class="vl-offcanvas-close-toggle">
            <i class="fa-solid fa-xmark"></i>
          </button>
        </div>
      </div>

      <div class="vl-offcanvas-menu d-lg-none mb-40">
        <nav></nav>
      </div>

      <div class="space20"></div>
      <div class="vl-offcanvas-info">
        <div class="space20"></div>
        <span
          ><a >
            <i class="fa-regular fa-envelope"></i> +91 9962976444</a
          ></span
        >
        <span
          ><a 
            ><i class="fa-solid fa-phone"></i> techssoftas@gmail.com</a
          ></span
        >
        <span
          ><a 
            ><i class="fa-solid fa-location-dot"></i> Odakadu St,Tiruppur.</a
          ></span
        >
      </div>
      <div class="space20"></div>
      <div class="vl-offcanvas-social">
        <h3 class="vl-offcanvas-sm-title">Follow Us</h3>
        <div class="space20"></div>
        <a ><i class="fab fa-facebook-f"></i></a>
        <a ><i class="fab fa-twitter"></i></a>
        <a ><i class="fab fa-linkedin-in"></i></a>
        <a ><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </div>
  <div class="vl-offcanvas-overlay"></div>
</div>
<!--===== MOBILE HEADER STARTS =======-->
